/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: sans-serif;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.App {
  text-align: center;
}

.wrap{
  background: orange;
  width:300px;
  height: 350px;

}

.grid-container {
  display: grid;
  height: 300px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  width:800px;
}

.pics{
  height: 250px;
  width:250px;
  margin: 15px 25px;
}

.icon{
  height: 20px;
  width: 20px;
}

.label-containerFlex{
  display: flex;
  width:250px;
}

#name {
  flex:3;
}

.icon{
  flex:1;
}

.body-container{
  background: red;
  width:100%;
}

.header{
  background: yellow;
  min-height: 100px;
  width: 100%;
}
.panel{
  background: purple;
  margin: 0 auto;
  width: 1200px;
  min-height: 100px;
  
}

.body{
  background: pink;
  margin:0 auto;
  width: 1200px;
  min-height: 1500px;
  display: flex;
}

.side{
  background:green;
  min-height: 1000px;
  flex:1;
}
.grid-container{
  flex:5;
  margin: 0 auto;
}
.gallery{
  width:250px;
  
}


input {
  display: block;
  width: 200px;
  margin: 5px 5px;
  height: 1em;
  font-size: 14px;
  font-family: sans-serif;
}

p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 36px;
}

button{
  font-size: 16px;
  
}

#deleter{
  width: 10px;
  height:10px;
  border-radius: 100px;
}

.pics-found{
  heigth: 100px;
  width: 100px;
  
}

.wrap-found{
  background: teal;
  
}

.gallery-found{
  width: 216px;
}

.wrap-flex{
  background: gray;
  display: inline;
  width: 200px;
}

.label-found{
  background: lightgreen;
  font-size: 10px;
  margin: 0 auto;
  display:inline;

}

#plus{
  display:inline;
}